blockquote,
.wp-block-quote {
  padding-left: 15px;
  padding-right: 40px;
}

blockquote::before,
.wp-block-quote::before {
  content: "\f10e";
  right: 10px;
}

/* Header Top */
.header-top-left i {
  margin-right: 0;
  margin-left: 10px;
}

.header-top-right ul li {
  margin: 0 10px 10px 0;
}

/* Header Menu */
.header-menu,
.wp-calendar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu > li:first-child a {
  padding-left: 15px;
  padding-right: 0;
}

.header-menu .menu-item-has-children > a {
  padding-left: 30px;
  padding-right: 15px;
}

.header-menu .menu-item-has-children > a::after {
  margin-left: 0;
  margin-right: 5px;
}

.header-menu .menu-item-has-children > a.submenu-item-link::after {
  content: "\f104";
}

.submenu {
  left: 0;
  top: -99999px;
}

.header-menu li:hover > .submenu,
.header-menu li:focus-within > .submenu {
  top: 100%;
  right: 0;
}

.submenu li:hover > .submenu,
.submenu li:focus-within > .submenu {
  top: 0;
  right: 100%;
}

.submenu .submenu li {
  border-left: none;
  border-right: 1px solid var(--border-color);
}

.header-menu .submenu li a,
.header-menu .submenu li:first-child a,
.mean-container .mean-nav ul li li a {
  padding-left: 0;
  padding-right: 60px;
}

.header-menu .submenu .submenu li a {
  padding-left: 0;
  padding-right: 75px;
}

.header-menu .submenu .submenu .submenu li a {
  padding-left: 0;
  padding-right: 90px;
}

.mean-container a.meanmenu-reveal {
  left: 0 !important;
  right: auto !important;
}

.mean-container .mean-nav ul {
  display: block;
}

.mean-container .mean-nav ul li a {
  text-align: right;
  padding: 15px 50px 15px 0;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin: 4px 0 5px 5px;
  right: calc(100% - 51px);
}

/* Breadcrumb */
.breadcrumb-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

/* Post */
.post-meta-top .cat-post-meta i,
.post-meta i,
.tag-post-meta i {
  margin-right: 0;
  margin-left: 5px;
}

.author-post-meta,
.date-post-meta,
.comments-post-meta,
.edit-post-meta {
  margin: 10px 0 0 20px;
}

.post-page-numbers,
.page-numbers {
  margin: 0 0 10px 10px;
}

.quote-author,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote cite {
  float: left;
}

.quote-author::before {
  right: -60px;
}

.wp-block-quote cite::before,
.wp-block-quote footer::before,
blockquote cite::before,
blockquote footer::before {
  right: -35px;
}

.wp-block-quote.is-style-large {
  padding-left: 10px;
  padding-right: 40px;
}

.wp-block-quote.has-text-align-right {
  padding-left: 15px;
  padding-right: 40px;
}

/* Widget */
.widget-title::after {
  right: 0;
}

ol.wp-block-latest-comments,
.widget_recent_comments nav > ul,
.widget_archive ul,
.wp-block-archives-list,
.wp-block-categories-list,
.widget_categories nav > ul,
.wp-block-page-list,
.widget_pages nav > ul,
.widget_meta ul,
.widget_nav_menu nav > ul,
.widget_recent_entries ul,
.widget_rss ul {
  padding-right: 0;
}

.widget_archive ul li a,
.wp-block-archives-list li a,
.wp-block-categories-list li a,
.widget_categories ul li a {
  float: right;
  padding-left: 0;
  padding-right: 30px;
}

.wp-block-page-list li a,
.widget_pages li a,
.widget_meta ul li a,
.widget_nav_menu ul li a {
  padding-left: 0;
  padding-right: 30px;
}

.widget_archive ul li a::before,
.wp-block-archives-list li a::before,
.wp-block-categories-list li a::before,
.widget_categories ul li a::before,
.wp-block-page-list li a::before,
.widget_pages li a::before,
.widget_meta ul li a::before,
.widget_nav_menu ul li a::before {
  left: calc(100% - 10px);
}

.wp-calendar-nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Nice Selector */
.nice-select .current {
  text-align: right;
}

.nice-select::after {
  right: calc(100% - 18px);
}

.nice-select .option {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

/* Footer */
.copyright-text {
  text-align: right;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .submenu .submenu li {
    border-right: none;
  }
  .copyright-text {
    text-align: center;
  }
}
