// Root CSS
:root {
    /* -----------------------------
       THEME COLORS
    ------------------------------*/
    --color-primary: #ff4d1c;
    --color-primary-light: #ff7a55;
    --color-primary-dark: #d63a10;

    --color-secondary: #0066ff;
    --color-secondary-light: #4d8dff;
    --color-secondary-dark: #004fcc;

    /* -----------------------------
       GENERAL COLORS
    ------------------------------*/
    --color-black: #000000;

	/* -----------------------------
		WHITE BACKGROUND SET
	------------------------------*/
    --color-white: #ffffff;
    --text-on-white: #5e5e5e;
    --border-on-white: #dcdcdc;
	--text-muted-on-white: #777777;

	/* -----------------------------
		LIGHT GREY SECONDARY BACKGROUND SET
	------------------------------*/
    --color-light: #f7f7f7;
	--text-on-light: #1a1a1a;
	--border-on-light: #cccccc;
    --text-muted-on-light: #888888;

    /* -----------------------------
       INFO / SYSTEM COLORS
    ------------------------------*/
    --color-success: #2ecc71;
    --color-info: #3498db;
    --color-warning: #f1c40f;
    --color-danger: #e74c3c;

    /* -----------------------------
       TYPOGRAPHY
    ------------------------------*/
    --font-primary: 'Josefin Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
	--font-awesome: "Font Awesome 7 Free";

	--fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;

    /* -----------------------------
       TRANSITIONS
    ------------------------------*/
    --transition-fast: all 0.2s ease;
    --transition-normal: all 0.3s ease-out;
    --transition-smooth: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

%item_bg {
    padding: 15px;
    border: 1px solid var(--border-on-white);
    background-color: var(--color-white);
}

%theme_btn {
    display: inline-block;
    color: var(--color-primary);    
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: transparent;
    transition: var(--transition-normal);
    text-decoration: none;
}

%theme_btn_hover {
    color: var(--color-white);
    background-color: var(--color-primary);
	text-decoration: none;
}

%list_item {
    padding: 15px 0;
    border-bottom: 1px solid var(--color-primary);
}

%text_1 {
    font-family: var(--font-secondary);
    font-weight: var(--fw-regular);
}

%text_2 {
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

%d_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

%flex_wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

%ul_none {
    margin: 0;
    padding: 0;
    list-style: none;
}

%overlay_full {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%bg_attr {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Mixin SASS
@mixin font_awesome_1( $val_1 ) {
    content: $val_1;
	position: absolute;
	font-family: var(--font-awesome);
    font-weight: var(--fw-black);
}

@mixin center_1( $val_1 ) {
    width: $val_1;
    height: $val_1;
    line-height: $val_1;
    text-align: center;
}

@mixin transform_1( $val_1 ) {
    -webkit-transform: $val_1;
    -ms-transform: $val_1;
        transform: $val_1;
}

@mixin transform_2( $val_1, $val_2 ) {
    -webkit-transform: $val_1 $val_2;
    -ms-transform: $val_1 $val_2;
        transform: $val_1 $val_2;
}

@mixin transform_3( $val_1, $val_2 ) {
    -webkit-transform: translate($val_1, $val_2);
    -ms-transform: translate($val_1, $val_2);
        transform: translate($val_1, $val_2);
}

@mixin transform_rotate_1( $val_1 ) {
    -webkit-transform: rotateZ($val_1);
    -ms-transform: rotate($val_1);
        transform: rotateZ($val_1);
}

@mixin transform_origin_2( $val_1, $val_2 ) {
    -webkit-transform-origin: $val_1 $val_2;
    -ms-transform-origin: $val_1 $val_2;
        transform-origin: $val_1 $val_2;
}

@mixin transition_1( $val_1 ) {
    -webkit-transition: $val_1;
        -o-transition: $val_1;
        transition: $val_1;
}

@mixin animation_5( $val_1, $val_2, $val_3, $val_4, $val_5 ) {
    -webkit-animation: $val_1 $val_2 $val_3 $val_4 $val_5;
    animation: $val_1 $val_2 $val_3 $val_4 $val_5;
}

@mixin animation_delay_1( $val_1 ) {
    -webkit-animation-delay: $val_1;
    animation-delay: $val_1;
}

@mixin align_items_1( $val_1 ) {
    -webkit-box-align: $val_1;
        -ms-flex-align: $val_1;
            align-items: $val_1;
}

@mixin justify_content_1( $val_1 ) {
    -webkit-box-pack: $val_1;
        -ms-flex-pack: $val_1;
            justify-content: $val_1;
}