/***** Table of CSS Content ****
--------------------------------
	01. Default HTML
	02. WordPress Core
	03. Common Class
	04. Nice Select Customize
	05. Mean Menu Customize
	06. WordPress Block
	07. WordPress Widget
*/

/*==========================
===== 01. Default HTML =====
==========================*/
:root {
    --primary-color: #f93601;
    --dark-grey: #333333;
    --light-grey: #eeeeee;
    --grey-text: #777777;
    --border-color: #c1c1c1;
    --black-color: #000000;
    --white-color: #ffffff;
	--transition: all 0.3s ease-out 0s;
    --body-font: 'Roboto', sans-serif;
    --body-font-weight: 400;
    --heading-font: 'Josefin Sans', sans-serif;
    --heading-font-weight: 700;
    --h1-font-size: 40px;
    --h2-font-size: 35px;
    --h3-font-size: 30px;
    --h4-font-size: 25px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 16px;
}

* {
	position: relative;
	word-break: break-all;
	scroll-behavior: smooth;
	outline: 0;
}

*:focus {
	outline: 0;
}

*::-moz-selection {
	background: var(--primary-color);
	color: var(--white-color);
}

*::selection {
	background: var(--primary-color);
	color: var(--white-color);
}

body {
    color: var(--black-color);
	font-family: var(--body-font);
    font-weight: var(--body-font-weight);
	background-color: var(--light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
caption,
figcaption,
strong,
b,
em {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

h4 {
	font-size: var(--h4-font-size);
}

h5 {
	font-size: var(--h5-font-size);
}

h6 {
	font-size: var(--h6-font-size);
}

p {
	font-size: var(--p-font-size);
}

img {
    max-width: 100%;
    height: 100%;
}

a { 
    color: var(--primary-color);
	transition: var(--transition);
}

a img {
	display: block;
}

a:hover,
a:focus,
kbd {
	color: var(--white-color);
	background-color: var(--primary-color);
}

strong,
b,
code,
em,
hr {
	color: var(--primary-color);
}

pre {
	padding: 15px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	background-color: var(--light-grey);
}

hr {
	opacity: 1;
}

select,
option {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
	outline: 0;
	transition: var(--transition);
}

table {
	caption-side: top;
	width: 100%;
}

button {
	color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
	transition: var(--transition);
}

button:hover,
button:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

figure,
iframe {
	max-width: 100%;
}

figcaption {
	margin-bottom: 10px;
}

blockquote {
    position: relative;
	padding: 15px;
    padding-left: 40px;
	background-color: var(--light-grey);
    overflow: hidden;
}

blockquote::before {
	content: '\f10d';
	font-family: "FontAwesome";
	font-size: 30px;
	position: absolute;
	left: 10px;
	top: 2px;
	color: var(--primary-color);
	opacity: 0.5;
}

blockquote cite,
blockquote footer {
	float: right;
}

blockquote cite::before,
blockquote footer::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: var(--primary-color);
	left: -35px;
	top: 50%;
}

audio,
video {
	width: 100%;
}

/*================================
===== 02. WordPress Core CSS =====
================================*/
.bypostauthor,
.gallery-caption {
    display: block;
}

.alignnone {
    margin: 10px 10px 10px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 10px 0;
}

.alignright {
    float:right;
    margin: 10px 0 10px 10px;
}

.alignleft {
    float: left;
    margin: 10px 10px 10px 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 10px 10px;
}

a img.alignnone {
    margin: 10px 10px 10px 0;
}

a img.alignleft {
    float: left;
    margin: 10px 10px 10px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    text-align: center;
}

.wp-caption.alignnone {
    margin: 10px 10px 10px 0;
}

.wp-caption.alignleft {
    margin: 10px 10px 10px 0;
}

.wp-caption.alignright {
    margin: 10px 0 10px 10px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
	color: var(--primary-color);
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Skip Link */
.skip-link {
	color: var(--primary-color);
	left: -9999rem;
	top: 2.5rem;
	padding: 10px 30px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	background-color: transparent;
	text-decoration: none;
	z-index: 999999999;
}

.skip-link:focus {
	display: block;
	color: var(--white-color);
	left: 6px;
	top: 7px;
	font-size: 16px;
	font-weight: var(--heading-font-weight);
	background-color: var(--primary-color);	
}

/*==============================
===== 03. Common Class CSS =====
==============================*/
.theme-btn {
    display: inline-block;
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
	text-decoration: none;
}

.theme-btn:hover,
.theme-btn:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/*===================================
===== 04. Nice Select Customize =====
===================================*/
.nice-select {
    width: 100%;
	float: none;
	padding-left: 30px;
}

.nice-select:hover,
.nice-select:focus {
    border-color: var(--primary-color);
}

.nice-select:after {
    width: 10px;
    height: 10px;
	margin-top: -7px;
	right: 20px;
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

.nice-select .current {
	display: block;
	overflow: hidden;
}

.nice-select .list {
	width: 100%;
}

.nice-select .option {
    padding: 0;
	padding-left: 30px;
}

.nice-select .option:hover,
.nice-select .option:focus {
	color: var(--white-color);
    background-color: var(--primary-color);
}

.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: var(--primary-color);
}

/*=================================
===== 05. Mean Menu Customize =====
=================================*/
.mean-container a.meanmenu-reveal {
	padding: 15px;
	border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.mean-container a.meanmenu-reveal span {
	background-color: var(--primary-color);
}

.mean-container a.meanmenu-reveal:hover span,
.mean-container a.meanmenu-reveal:focus span {
	background-color: var(--white-color);
}

.mean-container .mean-bar {
	padding: 0;
	background-color: transparent;
	min-height: 34px;
	margin: 10px 0;
}

.mean-container .mean-nav {
	margin-top: 54px;
	background-color: transparent;
}

.mean-container .mean-nav ul li:last-child a {
	border-bottom: none;
}

.mean-container .mean-nav ul li a {
	padding: 15px 0 15px 50px;
	border-top: none;
	border-bottom: 1px solid var(--primary-color);
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li a:focus {
	color: var(--primary-color);
	background-color: transparent;
}

.mean-container .mean-nav ul li a.mean-expand {
    color: var(--primary-color);
	background-color: transparent;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 5px 5px 5px 0;
	border: 1px solid var(--primary-color) !important;
	opacity: 1;
    border-radius: 5px;
}

.mean-container .mean-nav ul li a.mean-expand:hover,
.mean-container .mean-nav ul li a.mean-expand:focus {
	color: var(--white-color);
	background-color: var(--primary-color);
}

/*=============================
===== 07. WordPress Block =====
=============================*/
/** 01. Image Block */
.wp-block-image figcaption {
	color: var(--primary-color);
	font-size: 16px;
}

/** 02. Button Block */
.wp-block-button__link {
	    color: var(--white-color);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	margin-bottom: 10px;
}

.wp-block-button__link:hover,
.wp-block-button__link:focus {
	color: var(--primary-color);
	background-color: transparent;
	text-decoration: none;
}

.wp-block-file__button {
	display: inline-block;
	text-decoration: none;
}

.wp-block-file__button:hover,
.wp-block-file__button:focus {
	text-decoration: none;
}

.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color),
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color) {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color):hover,
.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color):focus,
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color):focus {
    color: var(--white-color);
	background-color: var(--primary-color);
}

.wp-block-file a {    
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
    border: 1px solid var(--primary-color);	
	text-decoration: none;
}

.wp-block-file a:hover,
.wp-block-file a:focus,
.wp-block-file .wp-block-file__button {
    color: var(--white-color);
	background-color: var(--primary-color);
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

/** 03. Cover Block */
.wp-block-cover .wp-block-cover-text,
.wp-block-cover p:not(.has-text-color) {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.wp-block-cover .wp-block-cover-text strong {
	color: var(--white-color);
}

/** 04. Gallery Block */
.wp-block-gallery:not(.has-nested-images).alignleft {
	max-width: 100%;
}

.gallery-columns-1,
.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9,
.gallery-columns-10,
.gallery-columns-11,
.gallery-columns-12 {
	display: flex;
	flex-wrap: wrap;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
	padding: 15px;
}

.gallery-columns-3 .gallery-item {
	width: 33.33%;
	padding: 15px;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
	padding: 15px;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
	padding: 15px;
}

.gallery-columns-6 .gallery-item {
	width: 16.66%;
	padding: 15px;
}

.gallery-columns-7 .gallery-item {
	width: 14.28%;
	padding: 15px;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
	padding: 15px;
}

.gallery-columns-9 .gallery-item {
	width: 11.11%;
	padding: 15px;
}

.gallery-columns-10 .gallery-item {
	width: 10%;
	padding: 15px;
}

.gallery-columns-11 .gallery-item {
	width: 9.09%;
	padding: 15px;
}

.gallery-columns-12 .gallery-item {
	width: 8.33%;
	padding: 15px;
}

.blocks-gallery-caption {
	color: var(--black-color);
	font-size: 16px;	
}

.blocks-gallery-grid:not(.has-nested-images),
.wp-block-gallery:not(.has-nested-images) {
	margin-bottom: 10px;
}

.blocks-gallery-grid:not(.has-nested-images):last-child,
.wp-block-gallery:not(.has-nested-images):last-child {
	margin-bottom: 0;
}

/** 05. Blockquote Block */
.wp-block-quote {
	position: relative;
	padding: 15px;
    padding-left: 40px;
	border-color: var(--primary-color);
	background-color: var(--light-grey);
	overflow: hidden;
}

.wp-block-quote::before {
	content: '\f10d';
	font-family: "FontAwesome";
	position: absolute;
	font-size: 30px;
	color: var(--primary-color);
	opacity: 0.5;
	left: 10px;
	top: 2px;
}

.wp-block-quote cite,
.wp-block-quote footer {
	position: relative;
	float: right;
	color: var(--primary-color);
}

.wp-block-quote cite::before,
.wp-block-quote footer::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: var(--primary-color);
	left: -35px;
	top: 50%;
}

.wp-block-quote.is-style-large {
    padding-top: 10px;
    padding-left: 40px;
}

.wp-block-pullquote {
	border-color: var(--primary-color);
}

.wp-block-quote.has-text-align-right {
	border-color: var(--primary-color);
}

/** 06. Code Block */
.wp-block-code {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background-color: var(--light-grey);
}

/** 07. Preformatted Block */
.wp-block-preformatted,
.wp-block-verse {
	padding: 15px;
	color: var(--primary-color);
    background-color: var(--light-grey);
}

/** 08. Table Block */
.wp-block-table td,
.wp-block-table th {
	border-color: var(--primary-color);
}

/*==================================
===== 07. WordPress Widget CSS =====
==================================*/
.widget {
    padding: 20px 15px 15px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    margin-bottom: 25px;
}

.widget-title {
	display: block;
    position: relative;
    margin-bottom: 30px;
}

.widget-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.widget-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--primary-color);
}

/** 01. Archive Widget List Format */
.widget_archive ul,
.wp-block-archives-list {
    padding-left: 0;
}

.widget_archive ul li,
.wp-block-archives-list li {
    list-style: none;
	display: block;
	padding: 15px 0;
	text-align: right;
	border-bottom: 1px solid var(--primary-color);
	overflow: hidden;
}

.widget_archive ul li:last-child,
.wp-block-archives-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.widget_archive ul li a,
.wp-block-archives-list li a {
	position: relative;
	float: left;
    text-decoration: none;
	padding-left: 30px;
	color: var(--black-color);
}

.widget_archive ul li a:hover,
.widget_archive ul li a:focus,
.wp-block-archives-list li a:hover,
.wp-block-archives-list li a:focus {
	text-decoration: underline;
	color: var(--primary-color);	
    background-color: transparent;
}

.widget_archive ul li a::before,
.wp-block-archives-list li a::before {
	position: absolute;
	left: 10px;
	content: "\f07c";
    font-family: "FontAwesome";
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: var(--primary-color);
}

/** 02. Archive Widget Dropdown Format */
.single-post-item .wp-block-archives-dropdown {
	margin-bottom: 10px;
}

.wp-block-archives__label {
    display: block;
}

.widget_archive .wp-block-archives-dropdown li {
    list-style: none;
}

/** 03. Calendar Widget */
.wp-block-calendar,
.calendar_wrap {
    list-style: none;
}

.wp-block-calendar table caption,
.calendar_wrap table caption {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: var(--white-color);
	background-color: var(--primary-color);
}

.wp-block-calendar table,
.calendar_wrap table {
	width: 100%;
	text-align: center;
}

.wp-block-calendar table th,
.calendar_wrap table th {
	color: var(--white-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.wp-block-calendar tbody td,
.calendar_wrap tbody td {
	color: var(--black-color);
	border: 1px solid var(--primary-color);
}

.wp-block-calendar tbody td#today,
.calendar_wrap tbody td#today {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.wp-block-calendar tbody td#today a,
.calendar_wrap tbody td#today a {
	color: var(--white-color);
}

.wp-block-calendar a,
.calendar_wrap a {
	text-decoration: none;
	color: var(--primary-color);
}

.wp-block-calendar a:hover,
.wp-block-calendar a:focus,
.calendar_wrap a:hover,
.calendar_wrap a:focus {
    background-color: transparent;
	text-decoration: underline;
}

.wp-calendar-nav {
	overflow: hidden;
	margin-top: 10px;
}

.wp-calendar-nav-prev {
	float: left;
}

.wp-calendar-nav-next {
	float: right;
}

/** 04. Categroy Widget List Format */
.wp-block-categories-list,
.widget_categories nav > ul {
    padding-left: 0;
}

.wp-block-categories-list li,
.widget_categories ul li {    
    list-style: none;
	display: block;
	text-align: right;
	padding: 15px 0;
	border-bottom: 1px solid var(--primary-color);
	overflow: hidden;
}

.wp-block-categories-list li:last-child,
.widget_categories ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.wp-block-categories-list li a,
.widget_categories ul li a {
	position: relative;
	float: left;
    text-decoration: none;
	padding-left: 30px;
	color: var(--black-color);
}

.wp-block-categories-list li a:hover,
.wp-block-categories-list li a:focus,
.widget_categories ul li a:hover,
.widget_categories ul li a:focus {
	text-decoration: underline;
	color: var(--primary-color);
    background-color: transparent;
}

.wp-block-categories-list li a::before,
.widget_categories ul li a::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.wp-block-categories-list ul li:first-child,
.widget_categories ul ul li:first-child {
    margin-top: 10px;
    border-top: 1px solid var(--primary-color);
}

.wp-block-categories-list ul li:not():first-child,
.widget_categories ul ul li:not():first-child {
    margin-top: 10px;
}

.widget_categories ul li .children .children .children {
	padding-left: 0;
}

/** 05. Lastest Comments Widget */
ol.wp-block-latest-comments,
.widget_recent_comments nav > ul {
	padding-left: 0;
}

.wp-block-latest-comments__comment,
.recentcomments {
	list-style: none;
	margin-bottom: 0;
	padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.wp-block-latest-comments__comment:last-child,
.recentcomments:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.wp-block-latest-comments__comment a,
.recentcomments a {
    text-decoration: none;
}

.wp-block-latest-comments__comment a:hover,
.wp-block-latest-comments__comment a:focus,
.recentcomments a:hover,
.recentcomments a:focus {
    text-decoration: underline;
}

.wp-block-latest-comments__comment-date {
    color: var(--grey-text);
}

/** 06. Lastest Post Widget */
.widget_recent_entries ul {
	padding-left: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list li,
.widget_recent_entries li {
	list-style: none;
	padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.wp-block-latest-posts.wp-block-latest-posts__list li:last-child,
.widget_recent_entries li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a,
.widget_recent_entries li a {
	color: var(--black-color);
	text-decoration: none;
}

.wp-block-latest-posts.wp-block-latest-posts__list.has-dates li a, 
.wp-block-latest-posts.wp-block-latest-posts__list.has-author li a {
	color: var(--primary-color);
}

.wp-block-latest-posts.wp-block-latest-posts__list li a:hover,
.wp-block-latest-posts.wp-block-latest-posts__list li a:focus,
.widget_recent_entries li a:hover,
.widget_recent_entries li a:focus {
	color: var(--primary-color);
    background-color: transparent;
	text-decoration: underline;
}

.wp-block-latest-posts.wp-block-latest-posts__list.has-author li a.theme-btn:hover,
.wp-block-latest-posts.wp-block-latest-posts__list.has-author li a.theme-btn:focus {
	color: var(--white-color);
	text-decoration: none;
	background-color: var(--primary-color);
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
    color: var(--grey-text);
}

/** 07. Page List Widget */
.wp-block-page-list,
.widget_pages nav > ul {
    padding-left: 0;
}

.wp-block-page-list li,
.widget_pages ul li {    
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.wp-block-page-list li:last-child,
.widget_pages ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.wp-block-page-list li a,
.widget_pages li a {
	position: relative;
	display: block;
    color: var(--black-color);
	padding-left: 30px;
    text-decoration: none;
}

.wp-block-page-list li a:hover,
.wp-block-page-list li a:focus,
.widget_pages li a:hover,
.widget_pages li a:focus {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.wp-block-page-list li a::before,
.widget_pages li a::before {
	position: absolute;
	content: "\e494";
    font-family: "FontAwesome";
	top: 50%;
	left: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: var(--primary-color);
}

.wp-block-page-list li li:first-child,
.widget_pages li ul li:first-child {
    margin-top: 10px;
    border-top: 1px solid var(--primary-color);
}

.wp-block-page-list li li:not():first-child,
.widget_pages li ul li:not():first-child {
    margin-top: 10px;
}

.wp-block-page-list li .children .children .children,
.widget_pages li .children .children .children {
	padding-left: 0;
}

/** 08. RSS Widget */
.widget_rss ul {
	list-style: none;
	padding-left: 0;
}

.wp-block-rss__item,
.widget_rss li {
    padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.wp-block-rss__item:last-child,
.widget_rss li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.widget-title .rss-widget-feed,
.widget-title .rss-widget-title {
	display: inline-block;
	color: var(--black-color);
}

.widget-title .rss-widget-title:hover,
.widget-title .rss-widget-title:focus {
	color: var(--primary-color);
}

.wp-block-rss__item-title a,
.rsswidget {
	display: block;
    text-decoration: none;	
}

.wp-block-rss__item-title a:hover,
.wp-block-rss__item-title a:focus,
.rsswidget:hover,
.rsswidget:focus {
	text-decoration: underline;
	color: var(--primary-color);
	background-color: transparent;
}

.wp-block-rss__item-publish-date,
.wp-block-rss__item-author,
.rss-date {
	display: block;
    color: var(--grey-text);
}

/** 09. Search Widget */
.widget_search {
	overflow: hidden;
}

.widget_search input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.wp-block-search__label {
	display: block;
}

.wp-block-search__input,
input#s[type="text"] {
    border: 1px solid var(--border-color);
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
	border: 1px solid var(--primary-color);
}

.wp-block-search__input:hover,
.wp-block-search__input:focus,
input#s[type="text"]:hover,
input#s[type="text"]:focus {
    border: 1px solid var(--primary-color);
}

.wp-block-search__button,
#searchsubmit {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);    
}

.wp-block-search__button:hover,
.wp-block-search__button:focus,
#searchsubmit:hover,
#searchsubmit:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/** 10. Social Links Widget */

/** 11. Tag Widget */
.wp-block-tag-cloud.is-style-outline {
    gap: 0 5px;
}

.widget_tag_cloud a,
.wp-block-tag-cloud a {
	display: inline-block;
	color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    margin: 5px 2px;
    padding: 5px 10px;
    border-radius: 5px;
	text-decoration: none;
}

.widget_tag_cloud a:hover,
.widget_tag_cloud a:focus,
.wp-block-tag-cloud a:hover,
.wp-block-tag-cloud a:focus {
    color: var(--white-color);
	background-color: var(--primary-color);
}

/** 12. Meta Widget */
.widget_meta ul {
    padding-left: 0;
}

.widget_meta ul li {    
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.widget_meta ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.widget_meta ul li a {
	position: relative;
	display: inline-block;
    text-decoration: none;
	color: var(--black-color);
	padding-left: 30px;
}

.widget_meta ul li a:hover,
.widget_meta ul li a:focus {
    color: var(--primary-color);
	background-color: transparent;
	text-decoration: underline;
}

.widget_meta ul li a::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	background-color: var(--primary-color);
	border-radius: 50%;
}

/** 13. Nav Menu Widget */
.widget_nav_menu nav > ul {
    padding-left: 0;
}

.widget_nav_menu ul li {    
    list-style: none;
	padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
}

.widget_nav_menu ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.widget_nav_menu ul li a {
	position: relative;
	display: block;
	color: var(--black-color);
	padding-left: 30px;
    text-decoration: none;
}

.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li a:focus {
	color: var(--primary-color);
	background-color: transparent;
	text-decoration: underline;
}

.widget_nav_menu ul li a::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.widget_nav_menu i,
.widget_nav_menu button {
	display: none;
}

.widget_nav_menu ul ul li:first-child {
    margin-top: 10px;
    border-top: 1px solid var(--primary-color);
}

.widget_nav_menu ul ul li:not():first-child {
    margin-top: 10px;
}

.widget_nav_menu ul ul ul ul {
	padding-left: 0;
}

/** 14. WordPress LogInOut Button */
.wp-block-loginout a,
.wp-block-loginout #wp-submit {
	display: inline-block;
    color: var(--primary-color);
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
	text-decoration: none;
}

.wp-block-loginout a:hover,
.wp-block-loginout a:focus,
.wp-block-loginout #wp-submit:hover,
.wp-block-loginout #wp-submit:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.wp-block-loginout #user_login,
.wp-block-loginout #user_pass {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.wp-block-loginout #user_login:hover,
.wp-block-loginout #user_login:focus,
.wp-block-loginout #user_pass:hover,
.wp-block-loginout #user_pass:focus {
    border: 1px solid var(--primary-color);
}

.wp-block-loginout label {
	display: block;
}

.wp-block-loginout .input {
    width: 100%;
}

/** 15. Text Widget */
.widget_text {
	padding: 18px;
	margin-bottom: 10px;
	background-color: var(--white-color);
	box-shadow: var(--light-shadow);
}

/** 16. Social Icon Widget */
.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover,
.wp-block-social-links .wp-social-link a:focus {
    background-color: transparent;
}

/*==============================
===== 08. Swiper Customize =====
==============================*/
.swiper-pagination-bullet {
	background-color: var(--white-color);
	opacity: .8;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--primary-color);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: var(--primary-color);
}