@media (max-width: 991px)
{
	.header-site-branding .site-logo
	{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		justify-content: center;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
	.site-branding-area
	{
		margin-bottom: 20px;
	}
	.header-logo
	{
		margin-bottom: 20px;
		margin-right: 0;
	}
	.breadcrumb-left-area
	{
		padding-bottom: 30px;
	}
	.breadcrumb-right-area
	{
		justify-content: center;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
	.site-branding,
	 .breadcrumb-title,
	 .breadcrumb-description,
	 .copyright-text,
	 .powered-by-text
	{
		text-align: center;
	}
	.header-menu-area.header-fixed-menu,
	 .submenu,
	 .submenu .submenu
	{
		position: static;
	}
	.header-menu .menu-item-has-children > a::after,
	 .header-menu .menu-item-has-children > a.submenu-item-link::after
	{
		display: none;
	}
	.submenu
	{
		background-color: transparent;
		display: block;
	}
	.submenu li
	{
		border-bottom: none;
	}
	.header-menu .submenu li a,
	 .header-menu .submenu li:first-child a
	{
		padding-left: 30px;
	}
	.header-menu .submenu .submenu li a
	{
		padding-left: 45px;
	}
	.header-menu .submenu .submenu .submenu li a
	{
		padding-left: 60px;
	}
	.submenu .submenu li
	{
		border-left: none;
	}
	.header-menu li .submenu li .submenu
	{
		left: 0;
		top: 100%;
	}
	.header-menu li .submenu li
	{
		border-bottom: none;
	}
	.mean-container .mean-nav ul .submenu li:last-child a
	{
		border-bottom: 1px solid var(--primary-color);
	}
	.error-page .page-header-title
	{
		font-size: 100px;
	}
	.widget-area
	{
		margin-top: 30px;
	}
	.footer-widget-list
	{
		display: block;
	}
	.footer-widget-col-2 .footer-single-widget,
	.footer-widget-col-3 .footer-single-widget,
	.footer-widget-col-4 .footer-single-widget,
	.footer-widget-col-5 .footer-single-widget
	{
		width: 100%;
	}
}