@media (max-width: 991px)
{
	.header-site-branding .site-logo
	{
		display: flex;
		display: -ms-flexbox;
		justify-content: center;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
	.site-branding-area
	{
		margin-bottom: 20px;
	}
	.header-logo
	{
		margin-bottom: 20px;
		margin-right: 0;
	}
	.breadcrumb-left-area
	{
		padding-bottom: 30px;
	}
	.breadcrumb-right-area
	{
		justify-content: center;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
	.site-branding,
	 .breadcrumb-title,
	 .breadcrumb-description,
	 .copyright-text,
	 .powered-by-text
	{
		text-align: center;
	}
	.header-menu-area.sticky-header-enable,
	 .sub-menu,
	 .sub-menu .sub-menu-2
	{
		position: static;
	}
	.header-menu .menu-item-has-children > a::after,
	 .header-menu .menu-item-has-children > a.sub-menu-item-link::after
	{
		display: none;
	}
	.sub-menu,
	.sub-menu-2
	{
		background-color: transparent;
		display: block;
		position: static;
	}
	.sub-menu li
	{
		border-bottom: none;
	}
	.header-menu .sub-menu li a,
	 .header-menu .sub-menu li:first-child a
	{
		padding-left: 30px;
	}
	.header-menu .sub-menu .sub-menu-2 li a
	{
		padding-left: 45px;
	}
	.header-menu .sub-menu .sub-menu-2 .sub-menu li a
	{
		padding-left: 60px;
	}
	.sub-menu .sub-menu-2 li
	{
		border-left: none;
	}
	.header-menu li .sub-menu li .sub-menu-2
	{
		left: 0;
		top: 100%;
	}
	.header-menu li .sub-menu li
	{
		border-bottom: none;
	}
	.mean-container .mean-nav ul .sub-menu li:last-child a
	{
		border-bottom: 1px solid var(--primary-color);
	}
	.error-page .page-header-title
	{
		font-size: 100px;
	}
	.widget-area
	{
		margin-top: 30px;
	}
	.footer-widget-list
	{
		display: block;
	}
}
