/***** Table of CSS Content ****
--------------------------------
    01. Preloader
    02. Header Top
    03. Header Site Branding
    04. Header Menu
    05. Breadcrumbs
    06. Blog Item
    07. Blog Single Item
    08. Pagination
    09. Comment Template
    10. Error Page
    11. Footer
    12. Scroll To Top
*/

/*=======================
===== 01. Preloader =====
=======================*/
#preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    clear: none;
    background-color: var(--white-color);
}

.folding-cube {
    margin: auto;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.folding-cube .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.folding-cube .cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    -webkit-animation: foldCubeAngle 2.4s infinite linear both;
    animation: foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.folding-cube .cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.folding-cube .cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.folding-cube .cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.folding-cube .cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.folding-cube .cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.folding-cube .cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/*========================
===== 02. Header Top =====
========================*/
.header-top-area {
    width: 100%;
    height: 100%;
    min-height: 50px;
    line-height: 50px;
    background-color: var(--black-color);
}

.header-top-left {
    width: 100%;
    padding-left: 16px;
    color: var(--white-color);
    font-size: 14px;
}

.header-top-left .fa-calendar-days {
    margin-right: 10px;
}

.header-top-right {
    width: 100%;
}

.header-top-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top-right ul li {
    display: inline-block;
    margin-left: 10px;
}

.header-top-right ul li:first-child {
    margin-left: 0;
}

.header-top-right ul a {
    display: inline-block;
    color: var(--white-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--dark-grey);
    transition: var(--transition);
}

.header-top-right ul a:hover,
.header-top-right ul a:focus {
    background-color: var(--primary-color);
}

/*================================== 
===== 03. Header Site Branding =====
==================================*/
.header-site-branding {
    width: 100%;
    height: 100%;
    min-height: 130px;
    padding: 25px 0;
    background-color: var(--white-color);
}

.site-branding-area {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header-logo,
.site-title-and-tagline {
    display: inline-block;
}

.custom-logo-link {
    display: block;
}

.header-logo img {
    width: auto;
    height: 80px;
}

.header-site-title {
	font-size: var(--h1-font-size);
    margin: 0 0 5px 0;
}

.header-site-title a {
    color: var(--primary-color);
    text-decoration: none;
}

.header-site-title a:hover,
.header-site-title a:focus {
    background-color: transparent;
    text-decoration: underline;    
}

.header-site-tagline {
    margin: 0;
    font-size: 20px;
}

.header-ads-area {
    width: 100%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    background-color: var(--light-grey);    
    overflow: hidden;
}

.header-ads-area img {
    width: 100%;
    height: 80px;
}

/*=========================
===== 04. Header Menu =====
=========================*/
.header-transparent-area {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.header-menu-area.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 9999;
}

.admin-bar .header-menu-area.header-fixed {
    top: 32px;
}

.header-menu-area {
    background-color: var(--black-color);
}

.header-menu-area .dropdown-toggle::after {
    display: none;
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu li {
    float: left;
    position: relative;
}

.header-menu a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: var(--white-color);
    padding: 16px;
}

.header-menu li:first-child a {
    padding-left: 0;
}

.header-menu a:hover,
.header-menu a:focus,
.header-menu .current-menu-item a {
    color: var(--primary-color);
    background-color: transparent;
}

.header-menu .menu-item-has-children > a,
.header-menu .menu-item-has-children > a.submenu-item-link {
    position: relative;
}

.header-menu .menu-item-has-children > a::after {
    content: '\f107';   
    font-family: "FontAwesome";
    position: absolute;
    margin-left: 5px;
    transition: var(--transition);
}

.header-menu .menu-item-has-children > a:hover::after,
.header-menu .menu-item-has-children > a:focus::after {
    content: '\f106'; 
}

.header-menu .menu-item-has-children > a.submenu-item-link::after {
    content: '\f105'; 
}

.header-menu .menu-item-has-children > a.submenu-item-link:hover::after,
.header-menu .menu-item-has-children > a.submenu-item-link:focus::after {
    content: '\f104'; 
}

.submenu {
    position: absolute;
    top: 100%;
    left: -99999px;
    min-width: 250px;
    z-index: 99999;
    padding: 0;
    background-color: var(--dark-grey);
}

.header-menu li:hover > .submenu,
.header-menu li:focus-within > .submenu {
    left: 0;
}

.submenu li {
    position: relative;
    float: none;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
}

.submenu li:hover > .submenu,
.submenu li:focus-within > .submenu {
    top: 0;
    left: 100%;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    padding: 15px;
}

.header-menu .submenu li:first-child a {
    padding: 15px;
}

.submenu .submenu {
    position: absolute;
    top: -99999px;
}

.submenu .submenu li {
    border-left: 1px solid var(--border-color);
}

/*=========================
===== 05. Breadcrumbs =====
=========================*/
.breadcrumbs-area {
    display: flex;
    align-items: center;
    position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    min-height: 250px;
    background-color: var(--light-grey);
    border-bottom: 1px solid var(--border-color);
}

.breadcrumbs-area::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	z-index: 1;
}

.breadcrumbs-content {
	position: relative;
	color: var(--white-color);
	z-index: 2;
}

.breadcrumbs-left-area {
    position: relative;
    color: var(--white-color);
    padding: 45px 0;
    z-index: 2;
}

.breadcrumbs-right-area {
    color: var(--grey-text);
}

.breadcrumbs-title {
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 16px;
}

.breadcrumbs-right-area {
    position: relative;
    color: var(--white-color);
	display: flex;
	width: 100%;
    height: 100%;	
	justify-content: end;	
	align-items: center;
    z-index: 2;
}

.breadcrumbs-nav ul {
	padding: 0;
}

.breadcrumbs-nav a {
    color: var(--primary-color);
    text-decoration: none;
}

.breadcrumbs-nav a:hover,
.breadcrumbs-nav a:focus {
    text-decoration: underline;
    background-color: transparent;
}

.site-content {
    margin-top: 70px;
}

.site-main {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 15px 3px;    
}

.site-main div {
	clear: both;
}

/*=======================
===== 06. Blog Item =====
=======================*/
.single-post-item:first-child {
    padding-top: 0;
}

.single-post-item {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);  
}

.single-post-item:last-child {
    border-bottom: none;
}

.single-post-item.sticky {
    border: 5px solid var(--primary-color);
    padding: 30px 20px;
}

.entry-meta-top {
    font-size: 14px;
    color: var(--dark-grey);
    margin-bottom: 15px;
}

.entry-cat-meta i {
    margin-right: 5px;
}

.entry-cat-meta a:hover,
.entry-cat-meta a:focus {
    text-decoration: underline;
    background-color: transparent;
}

.entry-cat-meta a {
    color: var(--primary-color);
    text-decoration: none;
}

.entry-title a {
    color: var(--black-color);
    background-color: transparent;
    text-decoration: none;    
}

.entry-title a:hover,
.entry-title a:focus {
    color: var(--primary-color);
    text-decoration: underline;
} 

.entry-meta {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    color: var(--dark-grey);
}

.entry-meta i {
    color: var(--primary-color);
    margin-right: 5px;
}

.entry-meta a {
    color: var(--dark-grey);
    text-decoration: none;
}

.entry-meta a:hover,
.entry-meta a:focus {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline; 
}

.entry-author-meta,
.entry-date-meta,
.entry-comments-meta,
.entry-meta-edit {
    display: inline-block;
    margin: 10px 20px 0 0;
}

.entry-meta-footer {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    overflow: hidden;
}

.entry-tag-meta a {
    color: var(--dark-grey);
    text-decoration: none;
}

.entry-tag-meta a:hover,
.entry-tag-meta a:focus {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.entry-content {
    margin-top: 15px;
}

.link-post {
    display: block;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}

.quote-author {
    position: relative;
    float: right;
    text-decoration: none;
    transition: var(--transition);
}

.quote-author:hover,
.quote-author:focus {
    text-decoration: underline;
}

.quote-author::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}

.post-img-gallery {
    width: 100%;
    height: 500px;
}

.post-img-gallery img {
    width: 100%;
    height: 500px;
}

.no-results {
    padding: 15px;
}

.page-title-span {
    color: var(--primary-color);
}

.page-content input[type="text"],
.page-content input[type="submit"] {
    padding: 10px;
}

/*==============================
===== 07. Blog Single Item =====
==============================*/
.post-password-form input[type="password"] {
    width: 100%;
    border: 1px solid var(--border-color);
	padding: 10px;
}

.post-password-form input[type="password"]:hover,
.post-password-form input[type="password"]:focus {
    border: 1px solid var(--primary-color);
}

.post-password-form input[type="submit"] {
    display: inline-block;
	text-decoration: none;
    padding: 11px 30px;
	color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
	background-color: transparent;
}

.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
    color: var(--white-color);
	background-color: var(--primary-color);
}

/*========================
===== 08. Pagination =====
========================*/
.navigation.pagination .screen-reader-text {
    display: none;
}

.navigation.pagination {
    margin-top: 30px;
}

.post-page-numbers,
.page-numbers {
    text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
    max-width: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    margin: 0 10px 10px 0;
    transition: var(--transition);
}

.page-numbers.current,
.page-numbers:hover,
.page-numbers:focus,
.post-page-numbers.current,
.post-page-numbers:hover,
.post-page-numbers:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/*==============================
===== 09. Comment Template =====
==============================*/
/** 01. Total Comments */
.total-comments {
    margin-top: 10px;
	padding: 15px;
	background-color: var(--white-color);
	border: 1px solid var(--border-color);
}

.total-comments .comment-title,
.total-comments .comment-count {
	color: var(--primary-color);
}

/** 02. Comments Form */
.comment-respond {
	margin-top: 10px;
    padding: 15px;
	background-color: var(--white-color);
	border: 1px solid var(--border-color);
}

.comments-form input#author,
.comments-form input#email,
.comments-form input#url {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.comments-form textarea,
.comment-form-comment textarea {
    display: block;
    width: 100%;
    height: 180px;
    resize: none;
    border: 1px solid var(--border-color);
}

.comments-form input#author:hover,
.comments-form input#author:focus,
.comments-form input#email:hover,
.comments-form input#email:focus,
.comments-form input#url:hover,
.comments-form input#url:focus,
.comments-form textarea:hover,
.comments-form textarea:focus,
.comment-form-comment textarea:hover,
.comment-form-comment textarea:focus {
    border: 1px solid var(--primary-color);
}

.form-submit input[type="submit"] {
    display: inline-block;
	color: var(--primary-color);
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
	background-color: transparent;
	text-decoration: none;
}

.form-submit input[type="submit"]:hover,
.form-submit input[type="submit"]:focus {
    color: var(--white-color);
	background-color: var(--primary-color);
}

/** 03. Comments List */
.comments-list li {
    list-style: none;
}

.comments-box {
    list-style: none;
	margin-top: 10px;
    padding: 15px;
	background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.comments-avatar {
    float: left;
    margin-right: 15px;
    border: 1px solid var(--primary-color);
}

.avatar-name a {
    text-decoration: none;
    color: var(--black-color);
}

.avatar-name:hover a,
.avatar-name:focus a {
    text-decoration: underline;
    color: var(--primary-color);
    background-color: transparent;
}

.comments-meta {
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.comments-meta-icon {
    color: var(--primary-color);
}

.comments-text {
	overflow: hidden;
	clear: none;
}

.comment-reply-link,
#cancel-comment-reply-link {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
	color: var(--primary-color);
	background-color: transparent;
    border: 1px solid var(--primary-color);
	text-decoration: none;
}

#cancel-comment-reply-link {
    margin: 10px;
    font-size: 16px;
}

.comment-reply-link:hover,
.comment-reply-link:focus,
#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:focus {
	color: var(--white-color);
	background-color: var(--primary-color);
}

/** 04. Comments List */
.comments-pagination {
    margin-top: 30px;
}

/*========================
===== 10. Error Page =====
========================*/
.error-page {
    padding: 15px;
}

.error-page .page-header-title {
    font-size: 200px;
    margin: 0; 
    text-align: center;
}

.error-page .header-subtitle {
    text-align: center;
}

/*================================ 
===== 11. Footer Widget Area =====
================================*/
.footer-widget-area {
    background-color: var(--black-color);
    padding: 70px 0;
}

.footer-widget-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.footer-widget-col-1 .footer-single-widget {
    width: 100%;
}

.footer-widget-col-2 .footer-single-widget {
    width: 50%;
}

.footer-widget-col-3 .footer-single-widget {
    width: 33.33%;
}

.footer-widget-col-4 .footer-single-widget {
    width: 25%;
}

.footer-widget-col-5 .footer-single-widget {
    width: 20%;
}

/*==================== 
===== 12. Footer =====
====================*/
.site-footer {
    color: var(--white-color);
    min-height: 50px;
    border-top: 1px solid var(--dark-grey);
    background-color: var(--black-color);
}

.site-footer p {
    margin-bottom: 0;
    line-height: 50px;
}

.site-footer a {
    text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.copyright-text {
    text-align: left;
}

.powered-by-text {
    text-align: right;
}

/*===========================
===== 13. Scroll To Top =====
===========================*/
.scroll-to-top {
	position: absolute;
	bottom: 70px;
	right: 70px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: var(--white-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.scroll-to-top i {
    line-height: 40px;    
}