/*
Content Tables:
	1. Theme Requeid Class
	2. Pagination
	3. Widget
	4. Comment
*/

/* 1. Theme Requeid Class */
.wp-caption{
	
}
.wp-caption-text{
	
}
.gallery-caption{
	
}
.bypostauthor{
	
}
.alignright{
	
}
.alignleft{
	
}
.aligncenter{
	
}
/* End */

/* 2. Pagination */
.rb-home-blog-pagination .screen-reader-text {
	display: none;
}
.rb-home-blog-pagination .nav-links {
	margin: 0 auto;
}
.rb-home-blog-pagination span,
.rb-home-blog-pagination a {
	background: #333333;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	margin: 0 2px;
}
.rb-home-blog-pagination a:hover {
	color: #ffffff;
}
/* End */

/* 3. Widget */
.rb-sidebar-item ul li {
	margin: 10px 0;
	list-style-type: square;
}
.rb-sidebar-item .post-date {
	display: block;
}
.screen-reader-text {
	display: none;
}
.rb-sidebar-item select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #dddddd;
}
.textwidget p {
	text-align: justify;
}
.calendar_wrap table {
	margin: 0 auto;
	width: 100%;
}
.calendar_wrap th, 
.calendar_wrap td {
	text-align: center;
}
.calendar_wrap tbody td a {
	color: #ffffff;
	display: block;
}
.tag-cloud-link {
	display: inline-block;
	color: #ffffff !important;
	margin: 5px 2px;
	padding: 10px;
	font-size: 16px !important;	
}
.tag-cloud-link:hover {
	background: none;
}
/* End */

/* 4. Comment */
.comment-form-comment label {
	display: block;
}
.comment-form-comment textarea {
	width: 100%;
	border: 1px solid #dddddd;
}
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
	display: block;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	width: 100%;
	border: 1px solid #dddddd;
	padding: 10px;
}
.comment-form-cookies-consent input {
	margin-right: 5px;
}
.comment-form .form-submit input {
	border: 1px solid red;
	background: red;
	color: #ffffff;
	padding: 10px 30px;
	cursor: pointer;
}
.comment-form .form-submit input:hover {
	background: none;
}
.avatar {
	width: 32px;
}
li.comment {
	list-style: none;
	margin: 20px 0;
}
/* End */
/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}